<app-player *ngFor="let player of game.players; let i = index;" [ngStyle]="{'top.px': 100 + (i * 90)}" [playerActive]="i == game.currentPlayer" [name]="player" class="player-position"></app-player>

<div class="field">
  <div class="card-stack">
    <!-- Card stack-->
    <img [ngStyle]="{'right.px': i * 5}" *ngFor="let c of [0,1,2,3]; let i = index;" src="./assets/img/playing_cards-master/card_cover.png" alt="">
    <img (click)="takeCard()" class="top-card" style="right: 20px" src="./assets/img/playing_cards-master/card_cover.png" alt="">

    <!-- Stack for played cards-->
    <img *ngFor="let playedCard of game.playedCards" class="played-card" src="./assets/img/playing_cards-master/{{playedCard}}.png" alt="">

    <!-- Current card animation-->
    <img (click)="takeCard()" *ngIf="pickCardAnimation" class="pick-card" style="right: 20px" src="./assets/img/playing_cards-master/{{currentCard}}.png" alt="">
    
  </div>
</div>

<app-game-info [card]="currentCard" class="pin-bottom"></app-game-info>

<button mat-fab color="primary" class="btn-add" (click)="openDialog()">
  <mat-icon>add</mat-icon>
</button>